@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* NAVBAR styles */
.navbar-brand {
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav {
    display: flex;
    gap: 7rem;
}

.nav-links {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.gradient-wrapper{
    padding: 2px;
    border-radius: 2.5rem;
    background: linear-gradient(to right, #F4B64B 0%, #FFFBF0 57%, #FFD58C 100%);
    display: inline-block;

    & #login-btn{
        background-color: #2C2C46; 
        border-radius: 2.5rem; 
        padding: .5rem 1.5rem;
        color: #FFD58C; 
        text-decoration: none;
        font-size: 1.3rem;
    }

    /* & #logout-btn{
        background-color: #2c2c4686; 
        width: 5rem;
        height: 3rem;
        border-radius: 1rem;
        padding: .5rem 1.5rem;
    } */
}


.external-btn {
  background: transparent;
  border: none;
  margin-bottom: -1rem;;
}

.back-btn {
  border-radius: 2.5rem;
  background-color: #2c2c46;
  display: flex;
  align-items: center;
  justify-content: center;

  
  border: solid 0.2rem;
  border-color: #F4B64B;
  width: 4rem;
  height: 4rem;
}

.inside-btn {
  width: 2.6rem;
  height: 3.1rem;
  margin-top: 1.5rem;
  margin-left: -0.005rem;
}

.arrow {
  color: #FFD58C;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.dropdown-menu {
  background-color: #484B7E;
  border-radius: 0.5rem;
}

.dropdown-item {
  color: #FFD58C;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  width: 9rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-radius: 0.4rem;
}

/* Gambiarra? */
.dropdown-item2{
  color: #FFD58C;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  width: 8rem;
  height: 2.5rem;
  /* text-align: center; */
  margin-top: 0.8rem !important;
  border-radius: 0.4rem;
  margin: auto;
  margin-right: 1rem;
}

.dropdown-item2:hover{
  background-color: none;
}