@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    font-family: "Playwrite US Modern", cursive;
    color: #F5DBF6;
    /* -webkit-text-stroke: 0.5px #78549C; */
}

.carousel-year-button {
    font-size: 1rem !important;
    -webkit-text-stroke: 0.2px #78549C;
}

.carousel-anos {
    font-size: 1.5rem;
    width: 30%;
}

 .mes-container{
    transform: scale(1.0);
    transition: .5s ease-in-out;
}

.mes-container:hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
    font-size: 1rem;
}

.mes-container table:hover, .mes-container h4:hover + table {
  border: solid #ffbbf9d0;
  box-shadow: 0.5px 0.5px 30px #ffffff8c;
  transform: scale(1.05);
  transition: .5s ease-in-out;
  -webkit-text-stroke: 0.5px #ffffff75;
  background-color: #ffbbf915;
}

.mes-container table td .dia {
    padding: 10%;
}

/* Fazer isso no calendario-mes */
/* .mes-container table td .dia:hover{
    -webkit-text-stroke: 0.5px #78549C;
} */

.mes-container table td {
    padding: 0;
    color: #F5DBF6;
}

.mes-container table td .dia-evento {
    background: radial-gradient(circle at top left, #dbebf646, #d9a5ff88);
    border: 1px dashed #d9a5ff88;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 6%;
}

.mes-container table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    border: #ffbbf94d;
    margin: 1rem;
    font-size: 0.8rem;
    border-top: #78549c00;

    transform: scale(1.0);
    transition: .5s ease-in-out;
}

.mes-container table:hover{
    border: solid #ffbbf9d0;
    box-shadow: 0.5px 0.5px 30px #ffffff8c;

    transform: scale(1.05);
    transition: .5s ease-in-out;
    -webkit-text-stroke: 0.5px #ffffff75;
    background-color: #ffbbf915;
}

.mes-container table th {
    color: #ffbbf9b9;
    -webkit-text-stroke: 0 #78549C;
    border: #78549c00;
}

.mes-container td .dia::after {
    content: attr(data-dia);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendario-mensal {
    margin-top: 2rem;
    width: 60%;
} 

.calendario-mensal h4 {
    text-align: center;
} 

.calendario-mensal h4:hover {
    text-align: center;
} 

.mes-container a {
    text-decoration: none;
    color: #F5DBF6;
}